@model ApprovalIntelogix.Models.UserStep

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserStep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUserStep" class="control-label"></label>
                <input asp-for="IdUserStep" class="form-control" />
                <span asp-validation-for="IdUserStep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkId" class="control-label"></label>
                <select asp-for="PkId" class ="form-control" asp-items="ViewBag.PkId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdStep" class="control-label"></label>
                <select asp-for="IdStep" class ="form-control" asp-items="ViewBag.IdStep"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
